{% extends 'index.html' %}
{% load static %}

{% block title %}
    О сайте
{% endblock %}

{% block content %}
<br>
    <h2>О нас</h2>
    {% block text %}
    <div>
        На ​Хабре ​думающие ​люди ​делятся ​уникальным ​​опытом. ​
        Здесь будет ​​одинаково ​интересно ​программистам ​и журналистам,
        ​​админам ​и рекламщикам, ​аналитикам ​и дизайнерам,
        ​менеджерам ​высшего ​и среднего ​звена, ​владельцам ​крупных ​компаний 
        и небольших ​фирм, ​а также ​всем ​тем, ​для кого ​IT — ​это не просто
        ​две буквы ​алфавита.
    </div>
    {% endblock %}
{% endblock %}