{% extends 'index.html' %}
{% block title %}
    Добавить статью
{% endblock %}

{% block content %}
<br>
<h3>Добавить статью: </h3>


<div>
    <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="text" placeholder="Заголовок статьи" name="title">
        <br><br>
        <textarea name="text" cols="30" rows="10" placeholder="Текст статьи"></textarea>
        <br><br>
        <button>Добавить</button>
    </form>
</div>

{% endblock %}