{% extends 'index.html' %}
{% load static %}

{% block title %}
    Habra-статьи
{% endblock %}

{% block content %}
<br>
    <h3>Статьи:</h3>
    <ul>
    {% for article in articles %}
        <a href="{% url 'article' article.id %}"><li>{{ article.title }}</li></a>
    {% endfor %}
    </ul>
{% endblock %}
{% block content_sidebar %}
<br>
{% if user.is_authenticated %}

<a href="{% url 'art-add' %}" class="btn btn-light" role="button" aria-disabled="true">Добавить статью <i class="fa fa-upload" aria-hidden="true"></i></a>
{% endif %}
{% endblock %}