{% extends 'index.html' %}
{% load static %}
{% block content %}
    <h1>{{article.title}}</h1>
    <div>{{article.text}}</div>
    <br>
    <p>Просмотры: {{article.views}}</p>
    <p>Создано: {{article.created_date}}</p>
    <p>Изменено: {{ article.updated_at }}</p>
    <p>
        Автор:
        <ul>
            <li>Псевдоним - {{ article.author.nik }}</li>
            <li>Логин - {{ article.author.user.username }}</li>
        </ul>

    </p>
    <a href="{% url 'article-edit' article.id %}">Редактировать</a>
    <br>
    <a href="{% url 'article-delete' article.id %}">Удалить</a>
    <br>
    <a href="{% url 'article-hide' article.id %}">Скрыть</a>
{% endblock %}