{% extends 'index.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{article.title}}
{% endblock %}
{% block content %}
    <h1>{{article.title}}</h1>
    <div>{{article.text|safe}}</div>
    <br>
    <p>Просмотры: {{article.views}}</p>
    <p>Создано: {{article.created_date}}</p>
    <p>Изменено: {{ article.updated_at }}</p>
    <p>
        Автор:
        <ul>
            <li>{% trans "Author: " %} - {{ article.author.nik }}</li>
            
        </ul>
        {% if article.picture %}
        <img src="{{ article.picture.url }}" width="400px">
        {{ article.picture.url }}
        <br>
    {% endif %}

    </p>
{% endblock %}
{% block content_sidebar %}
<br>
    <a href="{% url 'article-edit' article.id %}" class="btn btn-light" role="button" aria-disabled="true">Редактировать <i class="fa fa-edit" aria-hidden="true"></i></a>
    <br><br>
    <a href="{% url 'article-delete' article.id %}" class="btn btn-light" role="button" aria-disabled="true">Удалить <i class="fa fa-trash" aria-hidden="true"></i></a>
    <br><br>
    <a href="{% url 'article-hide' article.id %}" class="btn btn-light" role="button" aria-disabled="true">Скрыть <i class="fa fa-eye-slash" aria-hidden="true"></i></a>
{% endblock %}