{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Редактировать статью
{% endblock %}

{% block content %}
<br>
    <div><a href="{% url 'article' article.pk %}">Назад</a></div>
    <br>
    <h3>Редактировать статью: </h3>
    <div>
        <form method="POST" class="form-group">
        {% csrf_token %} 
        {{ form|crispy }}  
        {{ form.media }} 
        {{ form.as_p }}     
        <input class="form-control" type="text" name="title" value="{{ article.title }}">
        <br><br>
        <textarea class="form-control" name="text" rows="10">{{ article.text }}</textarea>
        <br><br>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </form>
</div> 

{% endblock %}